body{
    /* background-color: bisque; */
    width: 100%;
    height: 100%;
}

.container{
    /* text-align: center; */
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: blanchedalmond;
    border: 5px solid #00755E;
}

.heading{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:  lightgray;
}

.col-md-6{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.col-md-6 > div{
    width: 100%;
}

.col-md-12{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.col-md-12 > div{
    width: 100%;
}

.col-md-12 > div > input{
    width: 97.5%;
}

.col-md-12 > div > textarea{
    width: 97.5%;
}

input{
    width: 95%;
}

select{
    width: 90%;
}

p{
    margin-bottom: 0;
    color:  #00755E;
}

.col-md-6 > div > .displays{
    display: inline-flex;
    width: 100%;
}

.btn{
    text-align: end;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:  lightgray;
}

.btn > button{
    margin: 5px;
    padding: 5px 10px;
    background-color: #A9BA9D;
    border-radius: 17%;
}

input[type="radio"]{
    width: 5%;
}
